.selector-for-some-widget {
  box-sizing: content-box;
}

.formulaireInscription {


    position: absolute;
    top: 25%; left: 33%;
    background: #f8f9fa;
    width: 450px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
    margin-bottom: 5%;
}

.formulaireConnexion {

    position: absolute;
    top: 33%; left: 36%;
    background: #f8f9fa;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
}

.slide {
    left: 15px;
}


.entree{
    background: transparent;
    border: none;
    border-bottom: solid 2px black;
}

.produits {
  margin-top: 100px;
}

.newarrival {
  background: green;
  width: 70px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.col-md-7 h2 {
  color: #555;
}

.prix {
  color: #FE980F;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px;
}


.input {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 15px;
  margin-left: 20px;
}
